<div class="navbar">
    <!-- nav left -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link">
      <img src="assets/img/icons/open-menu.png" id="menu_open_logo" alt="logo" onclick="collapseSidebar()">
   </a>
        </li>
        <li class="nav-item">
            <img src="assets/img/icons/logo.png" alt="logo" class="logo logo-light">
            <img src="assets/img/icons/logo.png" alt="logo" class="logo logo-dark">

    <div id='head_text' class='dekstop_heading'>{{data.dekstop_head}}</div>
    <div id='head_text' class='mobile_heading'>{{data.mobile_head}}</div>
        </li>
    </ul>
    <!-- end nav left -->
    <!-- form -->
    <!--form class="navbar-search">

    </form!-->
    <!-- end form -->
    <!-- nav right -->
    <ul class="nav-right">
        <li class="nav-item mode">
            <a class="nav-link"  onclick="switchTheme()">
      <img src="assets/img/icons/moon.png" id="switch_logo"  class="dark-icon">
      <img src="assets/img/icons/sun.png"  id="switch_logo" class="light-icon">
            </a>
        </li>
    </ul>


    <!-- end nav right -->
</div>
