<body class="overlay-scrollbar"  id="parent_body">
	<!-- navbar -->
  <app-header></app-header>
  <!-- end navbar -->


  <!-- sidebar -->
  <app-sidebar></app-sidebar>
  <!-- end sidebar -->


	<!-- main content -->
	<div class="wrapper"  >
		<div class="col" id="home_page1" >
      <!--div class="col" id="home_page" !-->
      <div class="col" id="main_page_div" >
			<!-- Dashboard Box!-->

                    <router-outlet></router-outlet>

		<!-- Dashboard Box End Here!-->
      </div>

	</div>
<!-- Footer Section start-->

<!-- Footer Section END -->
</div>

<app-footer></app-footer>

</body>
