<div class='col'>

  <div class="row">
  
  <div class="col-xl-3 col-lg-3">
  
    <div class="col" id="box_design_1">
      <div class="col" id='row_head'>
        <div class="col text-center">
          <h3 id='form_head_all'> Category Details</h3>
      </div>
      </div>
  
  
    <div class="col" id="box_1_sub_box">
  
  
    <form id="form">
  
      <div class="text-center">
        <img [src]='data.default_src' class="rounded mx-auto d-block" id="preview_img_cat">
      </div>
  
      <br>
      <div class='mb-3'>
        <label>Upload Image</label>
        <input type="file" accept="image/*" (change)="upload_images($event)" class='form-control' name="c_img" >
      </div>
  
      <br>
      <div class='mb-3'>
        <label>Category Name</label>
        <input type="text" class='form-control' for_valid="code_allow-true-1-200" id="cname" name="cname" [(ngModel)]="fd.cname" placeholder="Enter Category Name" >
      </div>
  
      
      <br>
      <div class="" id="err_status"></div>
  <div class='col text-center' id="btn_div">
  
    <button type="button" class='btn btn-primary' *ngIf="data.add_btn" (click)="save()" ><Strong>Add</Strong></button>
    <button type="button" class='btn btn-primary' *ngIf="data.update_btn" (click)="update()"><Strong>Update</Strong></button>
    <button type="reset" class='btn btn-warning' (click)="reset()"><Strong>Reset</Strong></button>
    <button type="reset" class='btn btn-danger' *ngIf="data.del_btn" (click)="delete()"><Strong>Delete</Strong></button>
  </div>
  
    </form>
  </div>
  </div>
  </div>
  <div class="col-xl-9 col-lg-9">
    <div class="col">
  
      <div class="col-sm-2 col-xs-2 text-center" id="category_item" *ngFor="let x of data.data_list" (click)="edit(x.cid)">
          <div class='col text-center'>
            <img [src]="get_img_url(x.cat_img)" id="cat_img">
          </div>
          <br>
          <div class='col'>
            <span class='col' id="product_name">{{x.cname}}</span>
  
          </div>
      </div>
  
    </div>
  
  
  </div>
  
  
  
  </div>
  </div>
  