
<!-- @@@@@@@@@@@@@@@@@@ Dash board box  !-->

<div class="col" id='content_box1' >
  <div class="row" id='box_row1'>
      <div class="col" id='box_heading1'>User Dashboard</div>
</div>
<div class="col" id="content_box">

<!--- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ !-->
<div class="row" id="dashboard_box">

  <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 box1" id="box1">
                      <div class="row" id="box1_main">

                            <div class="col-xl-6 col-sm-6 col-6" id="img_box1">
                                  <img src='assets/img/icons/category.png' class='bounce-1' id='preview_img'>
                            </div>
                            <div  class="col-xl-6 col-sm-6 col-6" id="box1_text">

                                  <h3>{{data.category_cnt}}</h3>
                            </div>
                          <div class="col" id="down_line_box1">
                                <h5>All Category</h5>
                          </div>
                      </div>
  </div>

  <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 box2" id="box2">
                          <div class="row" id="box1_main">

                                <div class="col-xl-6 col-sm-6 col-6" id="img_box1">
                                     <img src='assets/img/icons/product.png' class='bounce-1' id='preview_img'>
                                </div>

                                <div  class="col-xl-6 col-sm-6 col-6" id="box1_text">
                                      <h3>{{data.product_cnt}}</h3>
                                </div>
                              <div class="col" id="down_line_box1">
                                    <h5>All Product</h5>
                              </div>
                          </div>
  </div>

  <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 box3" id="box3">
                            <div class="row" id="box1_main">

                                  <div class="col-xl-6 col-sm-6 col-6" id="img_box1">
                                        <img src='assets/img/icons/purchase.png' class='bounce-1' id='preview_img'>
                                  </div>

                                  <div  class="col-xl-6 col-sm-6 col-6" id="box1_text">
                                    <h3> <i class="fa fa-inr"></i>{{data.purchase_cnt}}</h3>
                                  </div>
                                <div class="col" id="down_line_box1">
                                      <h5>All Purchase</h5>
                                </div>
                            </div>
  </div>

  <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 box4" id="box4">
                            <div class="row" id="box1_main">

                                  <div class="col-xl-6 col-sm-6 col-6" id="img_box1">
                                           <img src='assets/img/icons/sale.png' class='bounce-1' id='preview_img'>
                                  </div>
                                  <div  class="col-xl-6 col-sm-6 col-6" id="box1_text">
                                    <h3><i class="fa fa-inr"></i>{{data.sales_cnt}}</h3>
                                  </div>
                                  <div class="col" id="down_line_box1">
                                      <h5>All Sales</h5>
                                </div>
                            </div>
  </div>

</div>




</div>





